<!-- <h1 class="ml-2 mt-3">Gantt Chart</h1>
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Progress</th>
            <th>Dependencies</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of taskTable;let columnIndex= index">
            <td>
                {{data.name}}
            </td>
            <td>
                {{data.progress}}
            </td>
            <td>
                {{(data.dependencies ? data.dependencies :  '--') }}
            </td>
            <td>
                <button (click)="addTaskToChart(data)">Add Task</button>
            </td>
        </tr>
    </tbody>
</table>

<h1>Frappe Gantt Chart</h1>
<div #gantt class="gantt"></div> -->

<!-- <h3 class="ml-2 mt-3">Shampoo Production Scheduling</h3>
<table>
    <thead>
        <tr>
            <th>MatNo</th>
            <th>LocNo</th>
            <th>Week</th>
            <th>Order Qty</th>
            <th>OrderUOM</th>
            <th>Task</th>
            <th>Operation</th>
            <th>Resource</th>
            <th>Time</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of scheduling;let columnIndex= index">
            <td>
                {{data.matNo}}
            </td>
            <td>
                {{data.locNo}}
            </td>
            <td>
                {{data.week}}
            </td>
            <td>
                {{data.orderQty}}
            </td>
            <td>
                {{data.orderUOM}}
            </td>
            <td>
                {{data.task}}
            </td>
            <td>
                {{data.operation}}
            </td>
            <td>
                {{data.resNo}}
            </td>
            <td>
                {{data.time}}
            </td>
            <td>
                {{data.start}}
            </td>
            <td>
                {{data.end}}
            </td>
            <td>
                <button (click)="add(data)">Add Task</button>
            </td>
        </tr>
    </tbody>
</table>
<div #chart class="gantt"></div> -->

<br><hr>

<h3 class="ml-2 mt-3">Website Development Scheduling</h3>
<table>
    <caption>
        Scheduling
    </caption>
    <col>
    <col>
    <colgroup span="3"></colgroup>
    <thead>
        <tr>
            <th scope="col">Operation</th>
            <th scope="col">Task</th>
            <th scope="col">Resource</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of taskScheduling">
            <td [attr.rowspan]="data.operationSpan" scope="rowgroup" *ngIf="data.operationSpan">{{data.operation}}</td>
            <td scope="row">{{data.name}}</td>
            <td>{{data.resource}}</td>
            <td [attr.rowspan]="data.operationSpan" scope="rowgroup" *ngIf="data.operationSpan"> 
                <button (click)="addTask(data)">Add Task</button> </td>
            <!-- <button (click)="addTaskToGanttChart(data)">Add Task</button> -->
        </tr>
    </tbody>
</table>
<div #ganttChart class="gantt"></div>
<br>
