/* You can add global styles to this file, and also import other style files */
.gantt-container .popup-wrapper {
    min-width: 150px;
    padding: 5px;
    box-shadow: 1px 3px 13px 4px rgba(153,153,153,0.75);
    background: #fff;
    color: #323232;
}

.gantt-container .popup-wrapper .pointer {
    border-top-color: #fff;
}

.gantt .grid-row:nth-child(even) {
    fill: #ffffff !important;
}
.cc-grey g rect { fill: rgb(158, 150, 150) !important; }

.cc-blue g rect { fill: rgb(116, 116, 175) !important; }

.cc-green g rect { fill: rgb(120, 146, 120) !important; }

.cc-yellow g rect { fill: rgb(206, 236, 150) !important; }

.cc-red g rect { fill: rgb(236, 161, 161)!important; }


